@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.navbar {
  display: flex;
  background-color: var(--theme-primary);
  height: 3rem;
  width: 100%;
  padding-right: 5rem;
  position: fixed;
  align-items: center;
  border-bottom: solid var(--theme-secondary) 2px;
  justify-content: flex-end;
  transition: $transition-delay;
}

.navbar-item {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: var(--theme-text);
  background-color: var(--theme-primary);
  height: 100%;
  font-family: "Poppins";
  font-weight: 500;
  cursor: pointer;
  transition: $transition-delay;
}

.navbar-item:hover {
  filter: brightness(130%);
  color: var(--theme-secondary);
  background-color: var(--theme-primary);
}

.navbar-search {
  margin-right: 1rem;
}
